In [2]:
import pandas as pd

In [6]:
dataset = pd.read_csv("../datasets_raw/Education/literacy-10-years-and-above-rates-in-pakistan.csv")
dataset.head(15)

    Area/Sex  2013-14  2014-15  2015-16  2017-18 *
0   Pakistan      NaN      NaN      NaN        NaN
1      Total     58.0     60.0     58.0       62.3
2       Male     70.0     70.0     70.0       72.5
3     Female     47.0     49.0     48.0       51.8
4      Rural      NaN      NaN      NaN        NaN
5      Total     49.0     51.0     49.0       53.3
6       Male     63.0     63.0     63.0       66.3
7     Female     36.0     38.0     36.0       40.5
8      Urban      NaN      NaN      NaN        NaN
9      Total     74.0     76.0     74.0       76.6
10      Male     81.0     81.0     81.0       82.2
11    Female     66.0     67.0     68.0       70.6

In [ ]:
# Remove duplicates
check1 = check1.drop_duplicates()

In [23]:
check1.shape

(0, 137)